body{
    margin-top: 20px;
    background-color: rgb(205, 200, 200);
}

/* #profile-wrapper {
    text-align: center;
}

#profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
} */